@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fff;
  --color-secondary: #1dcd9f;
}
html {
  scroll-behavior: smooth;
}
